body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.App {
    text-align: center;
}
  
.game-board {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.color-button {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.red {
    background-color: red;
}
  
.green {
    background-color: green;
}
  
.blue {
    background-color: blue;
}
  
.yellow {
    background-color: yellow;
}
  
.active {
    opacity: 0.4;
}